<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#ffffff" />
    <title>UAE-INDIA CEPA COUNCIL</title>
    <!--favicon -->
    <link rel="apple-touch-icon" sizes="72x72" href="/images/fav/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png" />
    <link rel="manifest" href="/images/fav/site.webmanifest" />
    <link rel="mask-icon" href="/images/fav/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.min.css" />

    <link rel="stylesheet" href="./stylesheets/slick.css">
    <link rel="stylesheet" href="./stylesheets/slick-theme.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css" />
    <link rel="stylesheet" href="/stylesheets/aos.css" />
    <link rel="stylesheet" href="/stylesheets/animate.min.css" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SR1ZQVQM5H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-SR1ZQVQM5H");
    </script>
</head>

<body>
    <div class="mainwrapper" id="smooth-wrapper">
        {{{body}}}

        {{> footer}}
        <div class="clearfix"></div>
        <!-- Back to top button -->
        <div id="topbtn"></div>
    </div>
    <!--scrips-->
    <script src="./javascripts/jquery.min.js"></script>
    <script src="/javascripts/axios.min.js"></script>
    <script src="./javascripts/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js"></script>
    <script src="/javascripts/wow.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="/javascripts/custom.js"></script>
    {{!--
    <script src="/javascripts/script.js"></script> --}}

</body>

</html>